/*********************
	HTML Elements
*********************/
*{
	margin:0;
	padding:0;
}
body{
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	background-color:#F7F6F0;
}
a, a:visited{
	text-decoration:none;
}
img{
	border:0;
	margin:1px;
}
p{
	padding:3px;
}
h2{

}
input{
	padding:2px;
}
select{
	padding:2px;
}
/*********************
	Structure
*********************/
#container{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
/*********************
	Sidebar
*********************/
#sidebar{
	background:#FFF;
	width:170px;
	float:left;
	padding:10px;
	margin-top:10px;
}
#sidebar ul{
	list-style:none;
	line-height:22px;
}
#sidebar ul li a,#sidebar ul li a:visited{
	text-decoration:none;
	margin:0 3px;
	display:block;
}
#sidebar ul li a:hover{
	text-decoration:underline;
}
#sidebar ul li ul{
	margin-left:10px;
}
#sidebar h3{
	padding:2px;
	font-size:14px;
}

.icon {
	padding-left:19px;
}
/* Ĭ�ϲ˵�ͼ�� */
.default_icon_group{background:transparent url(../img/icons/folder.png) no-repeat left;}
.default_icon{background:transparent url(../img/icons/application.png) no-repeat left;}
/* �û������ */
.group{background:transparent url(../img/icons/group.png) no-repeat left;}
.groupadd{background:transparent url(../img/icons/groupadd.png) no-repeat left;}
.grouplist{background:transparent url(../img/icons/grouplist.png) no-repeat left;}
/* ����Ա���� */
.admin{background:transparent url(../img/icons/admin.png) no-repeat left;}
.adminadd{background:transparent url(../img/icons/adminadd.png) no-repeat left;}
.adminlist{background:transparent url(../img/icons/adminlist.png) no-repeat left;}
.pwdedit{background:transparent url(../img/icons/pwdedit.png) no-repeat left;}
/* ϵͳ���� */
.setbase{background:transparent url(../img/icons/setbase.png) no-repeat left;}
.nav{background:transparent url(../img/icons/nav.png) no-repeat left;}
.menu{background:transparent url(../img/icons/menu.png) no-repeat left;}
/* ��Ӫ���� */
.gift{background:transparent url(../img/icons/gift.png) no-repeat left;}
.recharge{background:transparent url(../img/icons/recharge.png) no-repeat left;}
.referer{background:transparent url(../img/icons/active.png) no-repeat left;}
.notice{background:transparent url(../img/icons/notice.png) no-repeat left;}
.banner{background:transparent url(../img/icons/banner.png) no-repeat left;}
/* �߻����� */
.shuju{background:transparent url(../img/icons/shuju.png) no-repeat left;}
.shuzhi{background:transparent url(../img/icons/shuzhi.png) no-repeat left;}
.configfile{background:transparent url(../img/icons/configfile.png) no-repeat left;}
/* �ͷ����� */
.search{background:transparent url(../img/icons/search.png) no-repeat left;}
.ban{background:transparent url(../img/icons/ban.png) no-repeat left;}
/* �������� */
.tools{background:transparent url(../img/icons/tools.png) no-repeat left;}
.gmtools{background:transparent url(../img/icons/gmtools.png) no-repeat left;}
.testuser{background:transparent url(../img/icons/testuser.png) no-repeat left;}

