.tags1{
    color:#BDB7B6;
    font-size: 12px;
    float:left;
}
.tags2{
    color:#B1A9A9;
    font-size: 13px;
    float:left;
}
.tags3{
    color:#9B9191;
    font-size: 14px;
    float:left;
}
.tags4{
    color:#807474;
    font-size: 15px;
    float:left;
}
.tags5{
    color:#6D6363;
    font-size: 16px;
    float:left;
}
.tags6{
    color:#5D5554;
    font-size: 17px;
    float:left;
}
.tags7{
    color:#504948;
    font-size: 18px;
    float:left;
}
.tags8{
    color:#403A3A;
    font-size: 19px;
    float:left;
}
.tags9{
    color:#353030;
    font-size: 20px;
    float:left;
}
.tags10{
    color:#282424;
    font-size: 21px;
    float:left;
}
.tags11{
    color:#181515;
    font-size: 22px;
    float:left;
}
.tags12{
    color:#050404;
    font-size: 12px;
    float:left;
}