/*********************
	HTML Elements
*********************/
*{
	margin:0;
	padding:0;
}
body{
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	background-color:#F7F6F0;
}
a, a:visited{
	text-decoration:none;
}
img{
	border:0;
	margin:1px;
}
p{
	padding:3px;
}
h2{

}
input{
	padding:2px;
}
select{
	padding:2px;
}
/*********************
	Structure
*********************/
#container{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
#header{
	width:100%;
	height:80px;
}
#header #login-info{
	width:100%;
	height:35px;
	text-align:right;
}
#login-info a, #login-info a:visited{
	color:#cccddd;
}
#login-info a:hover{
	color:#ffffff;
	text-decoration:underline;
}

#header h2{
	height:20px;
	padding-left:60px;
}
/*********************
  TopMenu
*********************/
#topmenu{
	/*margin-top:20px;*/
	width:100%;
	float:left;
	voice-family:inherit;
	height:26px;
	text-align:right;
}
#topmenu ul{
	list-style:none;
	line-height:26px;
}
#topmenu li{
	display:inline;
}
#topmenu a,#topmenu a:visited{
	padding:5px 12px 5px 12px ;
	text-decoration:none;
}
#topmenu .current a, #topmenu .current a:hover, #topmenu .current a:visited{
	padding:5px 12px 5px 12px;
	font-weight:bold;
	
}